@import "reset.css";


header {
    background: #f26522;
    width: 100%;
}
header .top {
    margin: 0 auto;
    width: 1200px;
    height: 120px;
    position: relative;
}

header .top .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

header .top nav {
    float: right;
    padding-top: 76px;
}

header .top nav ul li {
    float: left;
}
header .top nav ul li a {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
header .top nav ul li ~ li {
    margin-left: 100px;
}

/* /////////////////////////////////////////////////////// */


article {
    width: 100%;
    height: 300px;
    background: url(../images/common/visual_bg.jpg) no-repeat 50% 50% / cover;
    position: relative;
}
article .visual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
article .visual input {
    display:block;
    width:450px;
    border:2px solid #f26522 ;
    padding: 5px 15px 0;
    outline: none;
    height: 50px;
    line-height: 48px;
    font-size: 25px;
    box-sizing: border-box;
}
article .visual .search {
    width: 50px;
    height: 50px;
    border: none;
    background: #f26522 url(../images/common/btn_search.png) no-repeat 50% 50%;
    text-indent: -9999em;
}



/* ////////////////////////////////////////////////////// */



main .slider {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
main .slider ul {
    width: 3600px;
}
main .slider ul li {
    float: left;
}
main .slider .btn {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
    cursor: pointer;
    opacity: 0.7;
    transition: .3s;
}
main .slider .btn_prev {
    left: 0;
    background: url(../images/main/btn_prv.png) no-repeat;
}
main .slider .btn_next {
    right: 0;
    background: url(../images/main/btn_next.png) no-repeat;
}
main .slider .btn:hover {
    opacity: 1;
}
main .slider .pager {
    position: absolute;
    left: 566px;
    bottom: 20px;
    z-index: 10;
}
main .slider .pager ul li {
    float: left;
    margin: 0 5px;
}
main .slider .pager ul li span {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    text-indent: -9999em;
    cursor: pointer;
}
main .slider .pager ul li span.active {
    background: #fff;
}

/* /////////////////////////////////////////// */



main .best_store { 
    margin: 180px auto 0;
    width: 1200px;
}


main .best_store .date {
    font-size: 14px;
    color: #787878;
    margin: 35px 0 20px 950px;
}
main .best_store  {
    width: 1200px;
}
main .best_store .left {
    width: 450px;
    float: left;
    margin-left: 100px;
   
}
main .best_store .left .store_img {
    width: 450px;
    overflow: hidden;
}
main .best_store .left .store_img ul {
    width: 900px;
}
main .best_store .left .store_img ul li {
    float: left;
}

main .best_store .left .pager {
    width: 450px;
}
main .best_store .left .pager ul {
    width: 66px;
    margin: 10px auto;
}
main .best_store .left .pager ul li {
    float: left;
    margin: 0 5px;
}
main .best_store .left .pager ul li span {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid #787878;
    border-radius: 50%;
    box-sizing: border-box;
    text-indent: -9999em;
    cursor: pointer;
}
main .best_store .left .pager ul li span.active {
    background: #787878;
}

main .best_store .left strong {
    font-size: 18px;
    font-weight: bold;
    color: #484848;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}
main .best_store .left p {
    font-size: 16px;
    color: #787878;
    margin: 0 auto;
    border-bottom: 1px solid #f26522;
    display: block;
    width: 100px;
    text-align: center;
    padding-bottom: 5px;
}



main .best_store .right {
    width: 450px;
    margin-right: 100px;
    float: right;
}
main .best_store .right table {
    width: 450px; 
    height: 450px;  
    color: #787878;
    font-size: 16px;
    border-collapse: collapse;
}
main .best_store .right table tr:nth-child(1) {
    text-align: center;
    background: #ddd;
    font-size: 18px;
    color: #484848;
    font-weight: bold;
    height: 50px;
}
main .best_store .right table tr td:nth-child(1){
    width: 70px;
    text-align: center;
}
main .best_store .right table tr td:nth-child(2){
    width: 255px;
}
main .best_store .right table tr td:nth-child(3){
    width: 125px;
    text-align: center;
}
main .best_store .right table tr td strong {
    color: #484848;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
main .best_store .right table tr td p {
    color: #787878;
    font-size: 14px;
}
main .best_store .right table tr td span {
    width: 15px;
    height: 2px;
    display: block;
    background: #484848;
    text-indent: -9999em;
    margin: 0 auto;
}

main .best_store .right table tr ~ tr {
    border-bottom: 1px solid #ddd;
    height: 80px;
}

/* ////////////////////////////////////////////// */


main .new {
    width: 1200px;
    margin: 150px auto 0;
}
main .new .arrived {
    width: 100%;
    padding: 0 436.5px;
}
main .new .games {
    margin-top: 50px;
}
main .new .games ul li {
    float: left;
    width: 380px;
}
main .new .games ul li ~ li {
    margin-left: 20px;
}
main .new .games ul li strong {
    font-size: 18px;
    font-weight: bold;
    color: #484848;
    text-align: center;
    display: block;
    margin-top: 16px;
}
main .new .games ul li p {
    font-size: 16px;
    color: #787878;
    margin: 5px auto 0;
    padding-bottom: 5px;
    width: 100px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #f26522;
}


/* //////////////////////////////////////////////// */

main .last {
    width: 1200px;
    height: 240px;
    margin: 130px auto 0;
}

main .last .quick {
    width: 720px;
    background: #eee;
    height: 100%;
    float: left;
}
main .last .quick strong {
    margin: 0 auto;
    width: 350px;
    font-size: 34px;
    font-weight: bold;
    color: #484848;
    display: block;
    text-align: center;
    padding: 13px 0 10px;
    border-bottom: 2px solid #f26522;
}
main .last .quick .tag {
    width: 550px;
    position: relative;
}
main .last .quick .tag span {
    border: 2px solid #969696;
    border-radius: 13px;
    width: 100%;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    color: #484848;
    transition: .3s;
    cursor: pointer;
}
main .last .quick .tag ul li {
    position: absolute;
}
main .last .quick .tag ul li:nth-child(1) {
    top: 8px;
    left: 58px ;
}
main .last .quick .tag ul li:nth-child(2) {
    top: 16px;
    left: 230px ;
}
main .last .quick .tag ul li:nth-child(3) {
    top: 16px;
    left: 316px ;
}
main .last .quick .tag ul li:nth-child(4) {
    top: 34px;
    left: 424px ;
}
main .last .quick .tag ul li:nth-child(5) {
    top: 46px;
    left: 158px ;
}
main .last .quick .tag ul li:nth-child(6) {
    top: 62px;
    left: 276px ;
}
main .last .quick .tag ul li:nth-child(7) {
    top: 76px;
    left: 406px ;
}
main .last .quick .tag ul li:nth-child(8) {
    top: 76px;
    left: 70px ;
}
main .last .quick .tag ul li:nth-child(9) {
    top: 100px;
    left: 200px ;
}
main .last .quick .tag ul li:nth-child(10) {
    top: 136px;
    left: 31px ;
}
main .last .quick .tag ul li:nth-child(11) {
    top: 145px;
    left: 150px ;
}
main .last .quick .tag ul li:nth-child(12) {
    top: 140px;
    left: 280px ;
}
main .last .quick .tag ul li:nth-child(13) {
    top: 126px;
    left: 380px ;
}
main .last .quick .tag ul li:nth-child(14) {
    top: 136px;
    left: 477px ;
}
main .last .quick .tag ul li span:hover {
    color: #fff;
    background: #787878;
}
main .last .quick .search_icon {
    position: relative;
}
main .last .quick .search_icon span {
    color: #fff;
    border: 1px solid #f26522;
    background: #f26522;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 69px;
    left: 550px;
}
main .last .quick .search_icon img {
    margin-top: 7px;
}
main .last .alarm {
    float: right;
    width: 410px;
    margin-top: 20px;
}
main .last .alarm .sub_title {
    display: block;
    border-bottom: 2px solid #f26522 ;
    padding-bottom: 5px;
}
main .last .alarm .sub_title strong {
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: #484848;
}
main .last .alarm .sub_title p {
    float: right;
    font-size: 16px;
    color: #787878;
    margin-top: 18px;
}

main .last .alarm .alarm_list ul li a {
    width: 410px;
    height: 40px;
    display: block;
    line-height: 40px;
    border-bottom: 2px solid #eee;
    transition: .3s;
}

main .last .alarm .alarm_list ul li a:hover {
    background: #eee;
}

/* //////////////////////////////////////// */


footer {
    margin-top: 100px;
    width: 100%;
    background: #484848;
    height: 250px;
    color: #fff;
}

footer .bg {
    width: 1200px;
    margin: 0 auto;
}


/* footer .bg .footer_logo {
    margin-top: 96px;
    float: left;
}
footer .bg .footer_text {
    font-size: 16px;
    line-height: 2.5;
    padding:70px 20px 0 0;
} */

footer .bg ul li {
    float: left;
}

footer .bg ul li:nth-child(1) {
    width: 180px;
    margin-top: 96px;
}
footer .bg ul li:nth-child(2) {
    width: 660px;
    font-size: 16px;
    line-height: 2.5;
    margin-left: 70px;
    padding-top: 72px;
}



/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */


.sub_nav {
    border-bottom: 1px solid #969696 ;
    display: block;
    height: 50px;
}
.sub_nav .inner > * {
    float: left;
}
.sub_nav .inner a {
    margin: 16px 5px;
}
.sub_nav .inner .sub_nav_text {
    margin: 18px 0;
}
.sub_nav .inner .sub_nav_text i {
    display:inline-block;
    width:6px;
    height:6px;
    border:1px solid #262626;
    transform:rotate(45deg);
    border-left:none;
    border-bottom:none;
}
main .search_game {
    margin-top: 50px;
}
main .search_game .title {
    font-size: 30px;
    margin-bottom: 42px;
}
main .search_game .search_window {
    width: 1000px;
    height: 145px;
    background: #ccc;
    margin: 0 auto;
}
main .search_game .search_window > ul {
    display: flex;
}
main .search_game .search_window ul li {
    flex: 1;
    position: relative;
}
main .search_game .search_window ul li strong {
    font-size: 24px;
    font-weight: bold;
    color: #484848;
    display: block;
    text-align: center;
    margin: 32px 0 20px;
}
main .search_game .search_window ul li .search_box {
    width: 180px;
    height: 30px;
    border: 1px solid #484848;
    background: #fff;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 7px ;
}
main .search_game .search_window ul li .search_box span {
    width: 10px;
    height: 9px;
    background: url(../images/sub01/arrow.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
}

main .search_game .search_window ul li .tag_list {
    position: absolute;
    top: 105px;
    left: 35px;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    border: 1px solid #484848;
    box-sizing: border-box;
    /* display: none; */
    background: #fff;
    display: none;
}
main .search_game .search_window ul li .tag_list ul li {
    padding: 7px 10px 7px;
}
main .search_game .search_window ul li .tag_list ul li:nth-child(1) {
    background: #fff;
    color: #484848;
}
main .search_game .search_window ul li .tag_list ul li:hover {
    background: #f26522;
    color: #fff;
    cursor: pointer;
}

main .search_game .search_game_btn {
    margin: 55px auto 30px;
    display: block;
    width: 200px;
    height: 50px;
    background: #f26522;
    line-height: 50px;
    padding-left: 73px;
    box-sizing: border-box;
    cursor: pointer;
}
main .search_game .search_game_btn a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
main .search_game .search_game_btn img {
    margin-top: 12px;
}

/* //////////////////////////////////////////// */

main .game_list {
    border-top: 2px solid #787878;
    border-bottom: 2px solid #787878;
}
main .game_list ul {
    float: left;
}
main .game_list > ul li {
    height: 250px;
    display: flex;
}
main .game_list ul li .game_list_img {
    width: 250px;
    height: 250px;
    margin-right: 140px;
}
main .game_list ul li .game1 span {
    width: 250px;
    height: 250px;
    background: url(../images/sub01/game01.jpg) no-repeat;
    display: block;
    text-indent: -9999em;
}
main .game_list ul li .game2 span {
    width: 250px;
    height: 250px;
    background: url(../images/sub01/game02.jpg) no-repeat;
    display: block;
    text-indent: -9999em;
}
main .game_list ul li .game3 span {
    width: 250px;
    height: 250px;
    background: url(../images/sub01/game03.jpg) no-repeat;
    display: block;
    text-indent: -9999em;
}
main .game_list ul li .game4 span {
    width: 250px;
    height: 250px;
    background: url(../images/sub01/game04.jpg) no-repeat;
    display: block;
    text-indent: -9999em;
}
main .game_list ul li .game5 span {
    width: 250px;
    height: 250px;
    background: url(../images/sub01/game05.jpg) no-repeat;
    display: block;
    text-indent: -9999em;
}
main .game_list ul li .game_list_detail {
    margin: 46px 0;
    width: 610px;
}
main .game_list ul li .game_list_detail .game_name {
    margin-bottom: 30px;
}
main .game_list ul li .game_list_detail .game_name strong {
    font-size: 24px;
    color: #262626;
    float: left;
}
main .game_list ul li .game_list_detail .game_name p {
    float: left;
    font-size: 16px;
    color: #969696;
    margin-left: 50px;
    margin-top: 8px;
}
main .game_list ul li .game_list_detail > p {
    font-size: 20px;
    color: #484848;
    line-height: 1.8;
    letter-spacing:-.025em;
    margin-bottom: 20px;
}
main .game_list ul li .game_list_detail .game_tag span {
    border: 2px solid #969696;
    border-radius: 13px;
    width: 100%;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    color: #484848;
    transition: .3s;
    margin-right: 10px;
}
main .game_list ul li .icon {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
main .game_list ul li .icon > div {
    flex: 50%;
}
main .game_list ul li .icon > div:nth-child(1),
main .game_list ul li .icon > div:nth-child(2) {
    padding-top: 40px;
}
main .game_list ul li .icon > div:nth-child(3),
main .game_list ul li .icon > div:nth-child(4) {
    padding-bottom: 30px;
}
main .game_list ul li .icon .icon_wrap span {
    width: 40px;
    height: 47px;
    display: block;
    margin: 0 auto;
}
main .game_list ul li .icon p {
    font-size: 16px;
    color: #484848;
    text-align: center;
    margin-top: 8px;
}
main .game_list ul li .icon .icon1 span {
    background: url(../images/sub01/btn_play.png) no-repeat 50% 50%;
    display: block;
    text-indent: -9999em;
}
main .game_list ul li .icon .icon2 span {
    background: url(../images/sub01/icon_guide.png) no-repeat 50% 50%;
    display: block;
    text-indent: -9999em;
}
main .game_list ul li .icon .icon3 span {
    background: url(../images/sub01/icon_share.png) no-repeat 50% 50%;
    display: block;
    text-indent: -9999em;
}
main .game_list ul li .icon .icon4 span {
    background: url(../images/sub01/icon_map.png) no-repeat 50% 50%;
    display: block;
    text-indent: -9999em;
}

main .game_list ul li ~ li {
    border-top: 1px solid #969696;
}


main .pager_wrap .list_pager {
    margin: 50px 525px 0;
}
main .pager_wrap .list_pager ul li {
    float: left;
    margin: 0 10px;
}
main .pager_wrap .list_pager ul li span {
    display: block;
    width: 30px;
    height: 30px;
    border: none ;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    color: #484848;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}
main .pager_wrap .list_pager ul li span.active {
    background: #969696;
}


/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */


main .search_store .title{
    font-size: 30px;
    font-weight: bold;
    color: #484848;
    margin: 50px 0 100px;
}


main .search_store .map_wrap {
    display: flex;
}
main .search_store .map_wrap > div {
    flex: 1;
}
main .search_store .map_wrap .map iframe {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    display: block;
}

main .search_store .map_wrap .search_map {
    width: 550px;
    height: 400px;
    background:#dcdcdc;
    margin: 50px 0 50px 50px;

}
main .search_store .map_wrap .search_map .search_row1 {
    display: flex;
}
main .search_store .map_wrap .search_map .search_row1 > div {
    flex: 1;
    margin-top: 70px;
}

main .search_store .map_wrap .search_map .search_row1 strong{
    font-size: 24px;
    font-weight: bold;
    color: #484848;
    text-align: center;
    display: block;
}
main .search_store .map_wrap .search_map .search_row1 .search_box {
    width: 180px;
    height: 30px;
    border: 1px solid #262626;
    display: block;
    margin: 20px auto 0;
    background: #fff;
    text-indent: -9999em;
    position: relative;
}

main .search_store .map_wrap .search_map .search_row1 .search_box span {
    width: 10px;
    height: 9px;
    background: url(../images/sub01/arrow.png) no-repeat;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-indent: -9999em;
}

main .search_store .map_wrap .search_map .search_btn {
    width: 550px;
    height: 50px;
    margin: 50px 0;
}

main .search_store .map_wrap .search_map .search_btn span {
    display: block;
    width: 200px;
    height: 50px;
    background: #f26522;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 8px;
}
main .search_store .map_wrap .search_map .search_btn span img {
    margin-top: 11px;
}

main .search_store .map_wrap .search_map .search_byname {
    width: 550px;
    position: relative;
}

main .search_store .map_wrap .search_map .search_byname strong {
    width: 100%;
    height: 25px;
    color: #484848;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

main .search_store .map_wrap .search_map .search_byname input {
    display: block;
    width: 440px;
    height: 50px;
    border: 2px solid #969696;
    outline: none;
    line-height: 50px;
    box-sizing: border-box;
    padding: 5px 15px 0;
    margin: 0 auto;
}

main .search_store .map_wrap .search_map .search_byname .search_store_button {
    width: 50px;
    height: 50px;
    border: none;
    background: #969696 url(../images/sub02/btn_search.png) no-repeat 50% 50%;
    text-indent: -9999em;
    position: absolute;
    right: 25px;
    top: 0;
}


/* ////////////////////////////////////////// */



main .list_store {
    border-top: 2px solid #787878;
    border-bottom: 2px solid #787878;
    margin-top: 120px;
}
main .list_store ul li > div {
    display: flex;
}
main .list_store ul li ~ li {
    border-top: 1px solid #969696;
}
main .list_store ul li .red_button {
    width: 120px;
    height: 150px;
    background: url(../images/sub02/logo_redbutton.png) no-repeat 50% 50%;
    display: block;
    text-indent: -9999em;
}
main .list_store ul li .holmes {
    width: 120px;
    height: 150px;
    background: url(../images/sub02/logo_holmes.png) no-repeat 50% 50%;
    text-indent: -9999em;
}
main .list_store ul li .heroes {
    width: 120px;
    height: 150px;
    background: url(../images/sub02/logo_hero.png) no-repeat 50% 50%;
    text-indent: -9999em;
}
main .list_store ul li strong {
    display: block;
    width: 150px;
    height: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #262626;
    text-align: center;
    line-height: 1.6;
    padding: 36px 0;
    box-sizing: border-box;
}

main .list_store ul li > div > p {
    width: 630px;
    display: block;
    font-size: 22px;
    color: #484848;
    line-height: 1.6;
    margin: 40px 0 40px 15px;
}

main .list_store ul li .store_icon > div {
    width: 300px;
    height: 75px;
    /* float: left; */
}
main .list_store ul li .store_icon .store_icon01 {
    padding-top: 10px;
    box-sizing: border-box;
}
main .list_store ul li .store_icon .store_icon02 {
    padding-bottom: 15px;
    box-sizing: border-box;
}
main .list_store ul li .store_icon .store_icon_wrap {
    display: flex;
    margin-left: 30px;
}
main .list_store ul li .store_icon .store_icon_wrap > p {
    font-size: 18px;
    font-weight: 300;
    line-height: 75px;
    margin-left: 20px;
    color: #484848;
}
main .list_store ul li .store_icon01 .store_icon_wrap span {
    width: 40px;
    height: 40px;
    background: url(../images/sub02/icon_dice.png) no-repeat;
    text-indent: -9999em;
    display: block;
    margin-top: 17.5px;
}
main .list_store ul li .store_icon02 .store_icon_wrap span {
    width: 40px;
    height: 40px;
    background: url(../images/sub02/icon_guide.png) no-repeat 50% 50%;
    text-indent: -9999em;
    display: block;
    margin-top: 17.5px;
}
